doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title #{author}
    meta(name='description', content='#{site_description}')
    meta(name='viewport', content='minimal-ui, width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/icon?family=Roboto:300,400,500,700|Material+Icons')
    link(rel='stylesheet', type='text/css', href='/styles/main.css')
  body
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header
        .mdl-layout__header-row
          span.mdl-layout-title #{author}
          .mdl-layout-spacer
          nav.mdl-navigation.mdl-layout--large-screen-only
            each page in menu
              if page.id === current.path[0]
                a.mdl-navigation__link.is_active(href=page.link)= page.name
              else
                a.mdl-navigation__link(href=page.link)= page.name
      .mdl-layout__drawer
        span.mdl-layout-title #{author}
        nav.mdl-navigation
          each page in menu
            if page.id === current.path[0]
              a.mdl-navigation__link.is_active(href=page.link)= page.name
            else
              a.mdl-navigation__link(href=page.link)= page.name
      main.mdl-layout__content
        != yield
    script(src='https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='/scripts/github.js')
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','#{ga_property_id}','auto');ga('send','pageview');
